@import "variables.scss";
@import "mixins.scss";
/* ----- ADAPTIVE START ----- */
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 768px) {
  .container {
    max-width: 570px;
  }
}
// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 992px) {
  .container {
    max-width: 750px;
  }
}
// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1200px) {
  .container {
    max-width: 990px;
  }
}
// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (min-width: 1400px) {
  .container {
    max-width: 1170px;
  }
}
/* ----- ADAPTIVE END ----- */
