/* ----- FONTS START ----- */
@font-face {
  font-family: "TTHoves";
  src: local("TTHoves Light"), local("TTHoves-Light"),
    url("../fonts/TTHoves-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjxAwXjeu.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vtcurs');
  src:  url('fonts/icomoon.eot?vtcurs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vtcurs') format('truetype'),
    url('fonts/icomoon.woff?vtcurs') format('woff'),
    url('fonts/icomoon.svg?vtcurs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
  content: "\ea90";
}
.icon-insta:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}

/* ----- FONTS END ----- */
