//MENU
.menu {
  display: flex;
  flex-direction: column;
  color: $text_color_main;
  &__link {
    padding: 10px 0;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid $text_color;
    }
  }
}
