@import "fonts.scss";
@import "reset.scss";
@import "common.scss";
@import "variables.scss";
@import "mixins.scss";
/* ----- HEADER START ----- */
.header {
  padding-top: 39px;
  padding-bottom: 39px;
  background-color: $bg_color;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  &__nav {
    position: relative;
    z-index: 100;
    @include font(500, 16px);
  }
  &__menu {
    column-gap: 60px;
    margin-right: 123px;
    margin-left: auto;
    letter-spacing: 0.2em;
  }
  .burger-menu {
    position: fixed;
    background-color: $bg_color;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 96px;
    left: 0;
    padding-top: 20px;
    z-index: 20;
    text-align: center;
    row-gap: 20px;
    transform: translateX(100vw);
    &.open {
      transform: translateX(0);
    }
    &.transition {
      transition: $tr_time;
    }
    &__btn {
      display: block;
      font-size: 27px;
      position: relative;
      width: 27px;
      height: 27px;
      padding: 0;
      .icon {
        position: absolute;
        top: 2px;
        right: 0;
        transition: $tr_time;
      }
      .icon-close {
        visibility: hidden;
        opacity: 0;
      }
      &.close {
        font-size: 20px;
        width: 20px;
        height: 20px;

        .icon-menu {
          visibility: hidden;
          opacity: 0;
          font-size: 0;
        }
        .icon-close {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
/* ----- HEADER END ----- */
/* ----- HERO START ----- */
.hero {
  padding-top: 40px;
  padding-bottom: 15px;
  background-image: url(../img/hero.webp);
  background-repeat: no-repeat;
  background-position: 50% 30%;

  .offer {
    text-align: center;
    padding: 0 10px;
    margin-bottom: 42px;

    &__title {
      margin-bottom: 21px;
      text-transform: capitalize;
      line-height: 1.2;
      @include font(700, 48px);
    }

    &__text {
      margin-bottom: 33px;
      line-height: 1.2;
      @include font(500, 20px);
    }
  }

  .slider {
    &.swiper-horizontal {
      padding: 0 12px 32px 12px;
    }

    &__slide {
      height: 322px;
      background-color: $text_color_main;
      border-radius: 24px;
    }

    .swiper-pagination-bullet-active {
      background-color: $text_color_main;
    }
  }
}
/* ----- HERO END ----- */
/* ----- WHATSNEW START ----- */
.whatsnew {
  padding-top: 52px;
  padding-bottom: 45px;

  &__title {
    text-align: center;
    margin-bottom: 22px;
  }

  &__video {
    border-radius: 8px;
    display: flex;
    margin: 0 auto;
  }
}
/* ----- WHATSNEW END ----- */
/* ----- ADDINFO START ----- */
.addinfo {
  padding-top: 45px;
  padding-bottom: 525px;
  position: relative;

  &__title {
    margin-bottom: 37px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-bottom: 43px;
    &__point {
      display: flex;
      min-height: 75px;

      &:nth-child(1) {
        .addinfo-list__point-number {
          background-color: #71357c;
        }
      }
      &:nth-child(2) {
        .addinfo-list__point-number {
          background-color: #95d0d5;
        }
      }
      &:nth-child(3) {
        .addinfo-list__point-number {
          background-color: #fd7e50;
        }
      }
      &:nth-child(4) {
        .addinfo-list__point-number {
          background-color: #f35d5d;
        }
      }

      &-number {
        max-width: 59px;
        width: 100%;
        height: 59px;
        border-radius: 14px;
        color: #fff;
        font-size: 32px;
        margin-top: -9px;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-desc {
        line-height: 1.2;
      }

      &-subtitle {
        font-weight: 600;
      }
    }
  }

  &-picblock {
    padding-top: 50px;
    padding-bottom: 25px;
    background-image: url(../img/abstarct1.webp);
    background-repeat: no-repeat;
    background-position: -125px 0%;
    background-size: contain;
    position: absolute;
    left: 0;
    bottom: 45px;
    width: 603px;
    height: 480px;

    &__img {
      margin-right: 75px;
      transform: translateX(25%);
    }
  }
}
/* ----- ADDINFO END ----- */
/* ----- OVERVIEW START ----- */
.overview {
  padding-top: 45px;
  padding-bottom: 80px;

  &__title {
    text-align: center;
    margin-bottom: 21px;
  }

  &__content {
    line-height: 1.1;
    margin-bottom: 40px;

    &-title {
      font-weight: 600;
      margin-bottom: 34px;
    }
  }

  &__learnmore {
    padding-left: 5px;
    margin-top: 5px;
    font-weight: 500;
    color: $btn_color;

    &-arrow {
      margin-left: 30px;
    }
  }

  &-slider {
    &.swiper-horizontal {
      padding-bottom: 46px;
    }

    &__slide {
      width: 100%;
      height: 298px;
      background-color: $btn_color;
      border-radius: 14px;
    }

    .swiper-pagination-bullet-active {
      background-color: $btn_color;
    }
  }
}
/* ----- OVERVIEW END ----- */
/* ----- DOWNLOAD START ----- */
.download {
  padding-top: 47px;
  padding-bottom: 49px;
  background-image: url(../img/Rect2.webp);
  background-repeat: no-repeat;
  background-position: 10% 50%;
  text-align: center;

  &__title {
    font-weight: 500;
    margin-bottom: 14px;
  }

  &__text {
    line-height: 1.2;
    color: $text_color_light;
    margin-bottom: 60px;
  }
}
/* ----- DOWNLOAD END ----- */
/* ----- CONTACT US START ----- */
.contact-us {
  &__form {
    display: none;
  }
  &__img {
    display: none;
  }
}
/* ----- CONTACT US END ----- */
/* ----- FOOTER START ----- */
.footer {
  padding-top: 60px;
  padding-bottom: 24px;
}
.copyright {
  font-size: 12px;
}
/* ----- FOOTER END ----- */

@import "adaptive-mobile-first.scss";
